<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/frontend/chatboot/src/app/components/register-component/register.component.scss" rel="stylesheet"> </head>

<body>
<section>
  <div class="container">
    <div class="row">
      <div class="rel1 col-md-3 hidden-sm ">
        <div class="raft1"></div>
        <div class="doc1"></div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="title">
          <h2>BINE ATI VENIT !</h2>
          <h3>Ne cunoastem?</h3></div>
        <div class="box">
          <div class="cerc">x</div>
          <div class="boxt"> Inregistrare</div>
          <div class="box2">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder=" Nume"> </div>
            <div class="form-group">
              <input type="text" class="form-control" id="user" placeholder=" Username"> </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pass" placeholder=" Introdu parola"> </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pass2" placeholder=" Reintrodu parola"> </div>
            <div class="buton2">Hai sa invatam!</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm-down ">
        <div class="raft2"></div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
