body{
  background-color: rgba(23, 50, 73, 0.8);
}
.rel1{
  position: relative;
  height: 100%;
}
.raft1{
  position: absolute;
  background-image: url(/frontend/chatboot/src/app/components/svg/Bookshelf.svg);
  background-size: contain;
  width: 30vh;
  height: 40%;
  background-repeat: no-repeat;
  top:30%;
}
.doc1{
  position: absolute;
  background-image: url(/frontend/chatboot/src/app/components/svg/Doctor-login.svg);
  background-size: contain;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  bottom:10%;
  right: 0;
}
.raft2{
  position: absolute;
  background-image: url(/frontend/chatboot/src/app/components/svg/Pictures.svg);
  background-size: contain;
  width: 70%;
  height: 40%;
  background-repeat: no-repeat;
  top:20%;
}
.box{
  width: 80%;
  padding-top: 80%;
  background-color: #F4F4F4;
  position: relative;
  margin:0 auto;
  margin-top: 10%;
  -webkit-box-shadow: 10px -10px 0 0 #DDDDDD;
  box-shadow: 10px -10px 0 0 #DDDDDD;
}
.box2{
  position: absolute;
  top:25%;
  margin-left: 5%;
  margin-right: 5%;
  width: 89%;
}
h2{
  color:#DBDBDB;
  text-align: center;
}
h3{
  color:#DBDBDB;
  text-align: center;
}
.title{
  margin-top: 10%;
  vertical-align: middle;
}
.cerc{
  position: absolute;
  right: 2%;
  top:2%;
  border: 1px solid #78ABCE;
  background-color: #78ABCE;
  border-radius: 100%;
  height: 10%;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  line-height: 60%;
  font-size: 3em;
  color:#F4F4F4;
}
.buton{
  border: 1px solid #78ABCE;
  text-align: center;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25%;
}
.boxt{
  position: absolute;
  top: 5%;
  border-left: 4px solid #78ABCE;
  font-size: 2em;
  color: #78ABCE;
  padding-left: 3%;
}
.buton2{
  border: 1px solid #78ABCE;
  text-align: center;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
}
@media screen and (max-width: 720px) {
  .rel1{
    display: none;
  }
}
