<div class="pictures-container col-md-4"></div>
<div class="chatbot-container col-md-8">
  <div class="chat-container">
   
    <div class="chat">
      <div class="message-wrap bot">
        <div class="photo"><img src="../../../assets/svg-images/doctor-chat-head.svg"></div>
        <div class="message">testtttt</div>
      </div>
      
      <div class="message-wrap user">
        <div class="message">testtttt</div>
        <div class="photo"><img src="../../../assets/svg-images/user-chat-head.svg"></div>
      </div>
      <div class="message-wrap bot">
        <div class="photo"><img src="../../../assets/svg-images/doctor-chat-head.svg"></div>
        <div class="message">testtttt</div>
      </div>
      
      <div class="message-wrap user">
        <div class="message">testtttt</div>
        <div class="photo"><img src="../../../assets/svg-images/user-chat-head.svg"></div>
      </div>
      <div class="message-wrap bot">
          <div class="photo"><img src="../../../assets/svg-images/doctor-chat-head.svg"></div>
          <div class="message">testtttt</div>
        </div>
        
        <div class="message-wrap user">
          <div class="message">testtttt</div>
          <div class="photo"><img src="../../../assets/svg-images/user-chat-head.svg"></div>
        </div>
        <div class="message-wrap bot">
            <div class="photo"><img src="../../../assets/svg-images/doctor-chat-head.svg"></div>
            <div class="message">testtttt</div>
          </div>
          
          <div class="message-wrap user">
            <div class="message">testtttt</div>
            <div class="photo"><img src="../../../assets/svg-images/user-chat-head.svg"></div>
          </div>
          <div class="message-wrap bot">
        <div class="photo"><img src="../../../assets/svg-images/doctor-chat-head.svg"></div>
        <div class="message">testtttt</div>
      </div>
      
      <div class="message-wrap user">
        <div class="message">testtttt</div>
        <div class="photo"><img src="../../../assets/svg-images/user-chat-head.svg"></div>
      </div>
    </div>
    
    <div class="write-message">
      <input class="write" type="text" placeholder="Scrie un mesaj...">
      <div class="send">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</div>