<div class="pictures-container col-md-4 hidden-sm hidden-md">
  <div class="pictures"><img src="../../../assets/svg-images/pictures.svg"></div>
  <img src="../../../assets/svg-images/doctor-animation.gif" id="doctor">
</div>

<div class="chatbot-container col-md-8 col-sm-12">
  <div class="chatboot-container">

  <div class="chat" *ngFor="let message of messageListService.messageList; let i = index" [attr.data-index]="i">
      <app-message
        [text]="message"
        [user]="'human'"
        [index]="i">
      </app-message>
  </div>

    <div class="write-message">
      <input class="write" type="text" [(ngModel)]="textValue" placeholder="Scrie un mesaj...">
      <div class="send" (click)="addMessage()">
        <img src="../../../assets/svg-images/send-button.svg">
      </div>
    </div>

  </div>
</div>
