.app-container {
    overflow: hidden;
}

.main-container{
    background-color: rgba(23, 50, 73, 0.9);
    width: 100%;
    height: 90vh; 
}

.footer-container{
    background-color: rgba(23, 50, 73, 1);
    width: 100%;
    height: 10vh;
}