/deep/ .bg-secondary {
    background-color: #173249!important;
}

/deep/ .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-link {
    font-size: 20px;
}

.nav-item{
    margin-top: 15px;
    margin-left: 30px;
}

.navbar {
    border-radius: 0;
}